


  <% dead_victims = 0 %>
  <% injured_victims = 0 %> 
  <% dead_names = [] %> 
  <% injured_names = [] %> 
  <% dead_ages = [] %>
  <% injured_ages = [] %>  
  <% @victims.each do |victim| %>
  <% if victim.dead == true %>
  <% dead_victims += 1 %>
  <% dead_names << victim.name %>
  <% dead_ages << victim.age %>
  <% else %>
  <% injured_victims += 1 %>
  <% injured_names << victim.name %>  
  <% injured_ages << victim.age %>  
  <% end %>
  <% end %>
 
<body class="show-body">
<h1 id="paper-heading1"><%= "The #{@shooting.location}" %></h1>
<h1 id="paper-heading2">Inquirer</h1>
<p>
  <strong>Date:</strong>
  <%= @shooting.created_at.strftime("%A, %d %B %Y") %> at <%= @shooting.created_at.localtime.strftime("%I.%M %p") %>
</p>

<p>
  <strong>Written By:</strong>
  <%= Faker::Name.name %>
</p>

 <% madlib1 = Madlibs::Madlib.new(
    "(Disaster|Catastrophe|Tragedy) hit (downtown|eastern) #{@shooting.location} today as the (notorious|infamous|wanted) 
    criminal Michael, commonly known as '<nickname>', struck again. Driving a <colours> #{@shooting.vehicle} he 
    (tore|careened|hurtled|hooned) down #{Faker::StarWars.planet} (Street|Drive|Crescent|Lane) at 
    #{@shooting.created_at.localtime.strftime("%H:%M")} and opened fire with his #{@shooting.weapon}, killing 
    #{dead_victims} and injuring #{injured_victims}.",
    {
      "colours" => [ "lipstick red","deep purple","jet black","cream","canary yellow","pink polka-dot","lilac", "rainbow"], 
      "nicknames" => ["Tricky Micky", "The Paddle Pop Killer", "Micky Blue", "The Trigger Happy Pappy", "The Funeral Maker", "Sik Mik", "Ted Bundy and Cola"]
    }
  )
  %>
  <% madlib2 = Madlibs::Madlib.new(
        "(Unfortunately|Regrettably|Sadly) #{dead_names.to_sentence} aged #{dead_ages.to_sentence} died at the scene from hits to the 
        (gooch|elbow|earlobe|appendix|gut), (spleen|palm|temple|bladder) and (cheek|testicle|buttocks|voicebox) while the injured and some nosy onlookers 
        were taken to #{Faker::LordOfTheRings.character} Memorial Hospital where they were treated for a range of injuries. Doctors, however, have 
        said that it was the diagnosis of <malady> that worried them the most. We can only make 
        (uninformed|wild|inaccurate|ridiculous) guesses as to how Michael '<nickname>' managed this, but since that is 
        our specialty here at The #{@shooting.location} Inquirer,  I can say with (certainty|confidence) that it was done 
        by <technique>.",
    {
            "nicknames" => ["Tricky Micky", "The Paddle Pop Killer", "Micky Blue", "The Trigger Happy Pappy", "The Funeral Maker", "Sik Mik", "Ted Bundy and Cola"],
      "maladies" => ["Gonorrhoea", "Mad Cow Disease", "Sexsomnia", "Swine Flu", "Cooties", "Ebola", "Spattergroit"],
      "techniques" => ["hypnosis", "long-term Subliminal Propaganda", "not washing his hands after pooping", "poison dart", "gas bomb", "spiking local the water supply", "Big Pharma", "GMOs"]
    }
  )
  %>

    <% madlib3 = Madlibs::Madlib.new(
      "Local residents #{Faker::Name.name} and #{Faker::Name.name} were out walking their #{Faker::Dog.breed}, 
        #{Faker::Dog.name}, and told The Inquirer 'Well that was pretty (sweet|heckerz|lit) wasn't it? Did you see them 
        (bodies|suckers|meatbags) hit the floor? There was (blood|guts|bile|vomit|shit) everywhere! (ROFL|LMFAO)! Are you gonna put our picture on the 
        (telly|internets|radio) mister?' 
    While #{Faker::Name.name} from #{Faker::Address.community} said 'I don't feel safe in this town no more. 
    #{Faker::ChuckNorris.fact} Did you know that? I bet he could take care of this problem.'",
  )
  %>

    <% madlib4 = Madlibs::Madlib.new(
      "Any members of the public with (information|leeds|details) on the (fugitive|criminal|shooter) Michael or his 
      #{@shooting.vehicle} should contact Crime Stoppers on 1800-STOP-MIK. A reward of 43 <currency> will be paid to anyone who provides (humerous|plausible|any) information. One thing is for sure, 
      we are no longer safe in #{@shooting.location}. This (writer|citizen) needs a #{Faker::Beer.style}. 
      (Adios|Hooroo|Arrivederci|Godspeed|Cheerio) (muchachos|amigos|fam).",
      {
        "currencies" => ["Timezone Tokens", "Beanie Babies", "Imperial Credits", "Silver Sickles", "Poke-Dollars"]
        }
  )
  %>

  <p class="article">
    <%=madlib1.generate %>
    </br>
    </br>    
    <%= madlib2.generate %>
    </br>
    </br>    
    <%=madlib3.generate %>
    </br>
    </br>    
    <%= madlib4.generate %>
  </p>

  <p class="link-list">
    To view more of our gruesome catalogue of Michael's previous drive-by shootings please click -<%= link_to " here", shootings_path %>
  </p>

  <p class="link-list">
    For a full list of Michael's victims, please click -<%= link_to " here", victims_path %>
  </p>
</body>



